In [3]:
import pandas as pd
import datetime

In [5]:
file_name = 'data.csv'

In [7]:
# Carrega os dados do CSV para um DataFrame
df = pd.read_csv(file_name)

In [11]:
# Exibe as primeiras linhas
df

,ID,Nome_Produto,Categoria,Data_Registro,Preco
0,1,Smartwatch Xiaomi,Eletrônicos,2023-01-10,899.90
1,2,Cadeira Escritório Ergonômica,Móveis,2023/02/05,749.50
2,3,Hub USB-C 7 portas,Periféricos,2023-03-12,159.00
3,4,Notebook Dell Inspiron,Eletrônicos,15-Apr-2023,3850.00
4,5,Luminária de Chão,Móveis,2023-05-01,299.99
...,...,...,...,...,...
106,106,Cadeira Gamer Reclinável,Móveis,2024-04-05,1390.00
107,107,Webcam Logitech C920,Periféricos,05-May-2024,349.90
108,108,HD Interno 1TB,Armazenamento,2024-06-01,399.00
109,109,Ar Condicionado 12000BTU,Eletrodomésticos,2024/07/10,2450.00
110,110,Soundbar JBL 2.1,Eletrônicos,10-Aug-2024,1199.00

In [29]:
# Converte a coluna 'Data_Registro' para datetime, detectando formatos mistos e assumindo que o primeiro número é o dia
# É uma função do pandas que converte uma coluna ou série em objetos datetime do Python
# mixed indica que a coluna pode ter vários formatos de data diferentes
# dayfirst diz que o primeiro número é o dia (dd/mm/yyyy) em vez do mês

format_date = pd.to_datetime(df['Data_Registro'], format='mixed', dayfirst=True)

In [35]:
# Insere substitui os formatos de data para os novos formatos
df['Data_Registro'] = format_date

In [37]:
# Exibe as primeiras linhas
df.head()

   ID                   Nome_Produto    Categoria Data_Registro    Preco
0   1              Smartwatch Xiaomi  Eletrônicos    2023-01-10   899.90
1   2  Cadeira Escritório Ergonômica       Móveis    2023-02-05   749.50
2   3             Hub USB-C 7 portas  Periféricos    2023-03-12   159.00
3   4         Notebook Dell Inspiron  Eletrônicos    2023-04-15  3850.00
4   5              Luminária de Chão       Móveis    2023-05-01   299.99

In [39]:
# Converte o formato data no formato BR
formart_data_br = format_date.dt.strftime('%d/%m/%Y')

In [41]:
# Exibe os dados formatados
formart_data_br

0      10/01/2023
1      05/02/2023
2      12/03/2023
3      15/04/2023
4      01/05/2023
          ...
106    05/04/2024
107    05/05/2024
108    01/06/2024
109    10/07/2024
110    10/08/2024
Name: Data_Registro, Length: 111, dtype: object

In [43]:
# Remove a Coluna ID
df = df.drop(columns=['ID'])

In [45]:
# Exibe as primeiras linhas
df.head()

                    Nome_Produto    Categoria Data_Registro    Preco
0              Smartwatch Xiaomi  Eletrônicos    2023-01-10   899.90
1  Cadeira Escritório Ergonômica       Móveis    2023-02-05   749.50
2             Hub USB-C 7 portas  Periféricos    2023-03-12   159.00
3         Notebook Dell Inspiron  Eletrônicos    2023-04-15  3850.00
4              Luminária de Chão       Móveis    2023-05-01   299.99

In [49]:
# Marcar todos os dados duplicatos (incluindo a primeira)
duplicated_mask = df.duplicated(subset=["Nome_Produto", "Categoria", "Preco"], keep=False)

In [51]:
# Filtrar o DataFrame
df_duplicated = df[duplicated_mask]

In [225]:
# Exibe um novo DataFrama de Dados Duplicado
df_duplicated

                     Nome_Produto         Categoria Data_Registro    Preco
9                  Pen Drive 64GB     Armazenamento    2024-09-21    79.90
10                 TV Samsung 50"       Eletrônicos    2021-08-06  3299.00
11              Estante de Livros            Móveis    2021-02-18   980.00
12                Mouse Gamer RGB       Periféricos    2020-05-31   199.99
13   Impressora Multifuncional HP       Eletrônicos    2021-02-03  1050.00
14      Tablet Samsung Galaxy Tab       Eletrônicos    2024-07-21  2150.00
15       Cadeira Gamer Reclinável            Móveis    2023-08-30  1390.00
16           Webcam Logitech C920       Periféricos    2024-09-23   349.90
17                 HD Interno 1TB     Armazenamento    2022-03-10   399.00
18       Ar Condicionado 12000BTU  Eletrodomésticos    2025-07-07  2450.00
19               Soundbar JBL 2.1       Eletrônicos    2025-08-16  1199.00
100                Pen Drive 64GB     Armazenamento    2022-04-20    79.90
101                TV Samsung 50"       Eletrônicos    2024-07-19  3299.00
102             Estante de Livros            Móveis    2021-04-11   980.00
103               Mouse Gamer RGB       Periféricos    2025-01-11   199.99
104  Impressora Multifuncional HP       Eletrônicos    2023-02-28  1050.00
105     Tablet Samsung Galaxy Tab       Eletrônicos    2023-01-05  2150.00
106      Cadeira Gamer Reclinável            Móveis    2023-12-25  1390.00
107          Webcam Logitech C920       Periféricos    2023-12-06   349.90
108                HD Interno 1TB     Armazenamento    2025-08-15   399.00
109      Ar Condicionado 12000BTU  Eletrodomésticos    2025-12-03  2450.00
110              Soundbar JBL 2.1       Eletrônicos    2023-10-30  1199.00

In [53]:
cont = 0
for i in df["Categoria"]:
    if "Eletrônicos" == i:
        cont += 1
print(cont)

40

In [55]:
# Usando value_counts()
# Conta quantas vezes o valor aparece
cont_v2 = df["Categoria"].value_counts().get("Eletrônicos", 0)

In [57]:
cont_v2

40

In [59]:
# Cria um novo arquivo csv sem dados duplicados
df.to_csv('formatted_data.csv', index=False)